body{
    background-color: #33B3A9;
}

.tabela{
    background-color: black;
    color: white;
}

.tabela2{
    background-color: #225FB8;
    color: white;
}
.cadastro{
    background-color: #1A5F5B;
    color: white;
    border: 2px solid black;
}
.cadastro2{
    background-color: black;
    border-color: black;

}
.botao{
    background-color: #FA411B;
    color: white;
    border:none;
    width: 80px;
    height: 30px;
}
.botao2{
    background-color: #358C58;
    color: white;
    border:none;
    width: 80px;
    height: 30px;
}
